@page
@using ISCED_Benguela.Encapsulamento
@using ISCED_Benguela.Modelos.Enums
@model ISCED_Benguela.Pages.Formacao.Cursos.IndexModel
@{
    Layout = "_Layout-admin";
    ViewData["title"] = "Cursos Disponiveis";

}

<section class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cursos Disponíveis</h1>
    </div>
    <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red pulse" asp-page="/Admin/Formacao/Cursos/Change"><i class="material-icons">add</i></a>
    </div>
    <table class="responsive-table highlight card-panel">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Curso</th>
                <th scope="col">Departamento</th>
                <th scope="col">Formação</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.GetCursos)
            {
                <tr>
                    <th scope="row">@item.ID</th>
                    <td>@item.NomeCurso</td>
                    <td>@item.Departamento.NomeDepartamento</td>
                    <td>@item.Formacao.NomeFormacao</td>
                    <td>
                        <a data-position="bottom" data-delay="50" data-tooltip="Deletar Curso" asp-route-id="@item.ID" onclick="confirmDelete(this,@item.ID,'Delete')" asp-page-handler="Delete" class="btn tooltipped col red accent-4 white-text"><i class="small material-icons">delete</i></a>

                        <a data-position="bottom" asp-page="/Admin/Formacao/Cursos/Edit" data-delay="50" data-tooltip="Editar Curso" asp-route-id="@item.ID" class="btn tooltipped col white "><i class="small material-icons green-text">edit</i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</section>
@section Scripts {
    @Html.Raw(Html.SweetConfirmAlert("Deletar Curso", "Tem certeza que quer deletar este Curso?"));
}
@{
    if (TempData["successAlert"] is not null)
    {
        if ((bool)TempData["successAlert"]!)
        {
            @Html.Raw(Html.SweetAlert(TempData["successMessage"]?.ToString()!, "Portal do Administrador", alertType.success))
            ;
        }
        else
        {
            @Html.Raw(Html.SweetAlert(TempData["InSuccessMessage"]?.ToString()!, "Portal do Administrador", alertType.error))
            ;
        }

    }
}